* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.header {
    margin: auto;
    height: 1300px;
    left: 0px;
    background: rgba(255, 144, 14, 0.1);
}

.header-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 30px;
    margin-top: 50px;
}

.header-description {
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;
}

nav {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;



}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 150px;
}


nav ul {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

a {
    text-decoration: none;
}

.header-brand {
    text-align: center;
    margin: 50px 400px 50px;
}