* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.btn {
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #FF900E;
    border: none;
    color: white;
    cursor: pointer;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
}

p {
    font-size: 16px;
    color: #727272;
}

/* header section css */
.header-top {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

/* nav section */
.navbar {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;
}

header {
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 20px;
}

/* header bottom section */
.header-bottom {
    text-align: center;
    padding: 100px 0;
}

.header-bottom button {
    margin-top: 20px;
}

/* header-banner section */
.header-banner img {
    width: 100%;
}

/* Quick Features section*/
.quick-features {
    display: flex;
    padding: 80px 0;
}

.quick-features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.features-text {
    margin: 230px 0 0 80px;
}

.features-text button {
    margin-top: 20px;
}

/* features section */
.Features {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
    margin-top: 50px;
}

.features-details {
    width: 45%;
}

.features-img {
    width: 45%;
    max-height: 100px;
}

.features-info {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin: 15px;
}


.features-img img {
    max-height: 710px;
    width: 100%;
}

/* experiance section */
.experiance {
    background-color: #FF900E;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    right: 42%;
}

/* fact section */

.fact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px;

}


.fact-info {
    border: 1px solid peru;
    text-align: center;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    padding: 40px 30px 40px;
}

/* footer section */
.footer-info {
    text-align: center;
}

.footer-sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    margin: 100px 200px 100px;
    height: 20px;
    padding: 50px 100px;

}